/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */

/* components */
@import '../components/button.css';
@import '../components/footer.css';
@import '../components/form.css';
@import '../components/header.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE, PLEASE */
main.container > .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
